@use "global"as *;

.about-image {
    position: relative;
}

.about-image__left {
    position: absolute;
    left: rem(-1);
    top: rem(-26);
    width: 37.1%;
    z-index: 2;

    @include mq("md") {
        top: rem(-80);
    }
}

.about-image__left picture img {
    aspect-ratio: 128 / 194;
    object-fit: cover;
    width: 100%;
    z-index: 1;
    image-orientation: from-image;

    @include mq("md") {
        aspect-ratio: 400 / 606;
    }
}

.about-image__right {
    margin-left: auto;
    width: 81.45%;
    display: block;
    height: auto;
}

.about-image__right.about-image__right--about-section {
    width: 100%;
    position: relative;

    @include mq("md") {
        width: 81.45%;
    }
}

.about-image__right picture img {
    object-fit: cover;
    aspect-ratio: 281 / 186;
    width: 100%;
    image-orientation: from-image;

    @include mq("md") {
        aspect-ratio: 880 / 581;
    }
}

.about-image__text-group {
    margin-top: rem(38);

    @include mq("md") {
        display: flex;
        position: absolute;
        top: rem(122);
        left: rem(200);
        margin-top: 0;
        z-index: 2;
        margin-right: rem(40);
    }
}

.about-image__title {
    color: $green2;
    font-family: $second-font;
    font-size: rem(40);
    line-height: 1;

    @include mq("md") {
        color: $white;
        font-size: rem(80);
        font-weight: $normal;
        line-height: 1.25;
    }
}

.about-image__title.about-image__title--about-section {
    position: absolute;
    top: 5%;
    left: calc(50% - min(38.5vw, 16rem));
    color: $white;

    @include mq("md") {
        position: static;
    }
}

.about-image__text-unit {
    margin-top: rem(16);

    @include mq("md") {
        margin-top: 0;
        margin-left: rem(40);
    }
}

.about-image__text-unit.about-image__text-unit--about-section {
    @include mq("md") {
        margin-top: rem(24);
        margin-left: rem(44);
    }
}

.about-image__text {
    color: $green;
    font-size: rem(16);
    line-height: 1.5;

    @include mq("md") {
        margin-top: 0;
        color: $white;
    }
}

.about-image__button {
    margin-top: rem(27);
    text-align: center;

    @include mq("md") {
        margin-top: rem(40);
    }
}