@use "global"as *;

.blog {
    padding-top: rem(83.5);
    @include mq("md") {
        padding-top: rem(100);
        position: relative;
    }
}

.blog::before {
    content: none;

    @include mq("md") {
        content: "";
        background-image: url(../images/common/blog-img4.png);
        position: absolute;
        background-size: cover;
        height: rem(201);
        left: calc(50% - min(47vw, 38.875rem));
        top: rem(23);
        max-width: rem(437);
        width: 100%;
        z-index: 2;
    }
}

.blog::after {
    @include mq("md") {
        position: absolute;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        background-image: url(../images/common/blog-bgimg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: rem(500);
        z-index: -1;
    }
}

.blog__inner.inner {
    padding-right: rem(21);
    padding-left: rem(21);
}

.blog__contents {
    margin-top: rem(31);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(40);

    @include mq("md") {
        margin-top: rem(82);
        grid-template-columns: repeat(3, 1fr);
    }
}

.blog__button {
    margin-top: rem(40);
    text-align: center;

    @include mq("md") {
        margin-top: rem(80);
    }
}