@use 'global'as *;

.blog-section__inner.inner {
    padding: 0 rem(21);
    @include mq("md") {
    padding: 0 rem(25);
	}
}

.blog-section__contents {
    @include mq("md") {
        display: flex;
        gap: rem(80);
    }
}

.blog-section__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: rem(40);

    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(40);
        row-gap: rem(80);
    }
}

.blog-section__content-wrapper {
    @include mq("md") {
    width: 65.371%;
	}
}

.blog-section__pagination {
    margin-top: rem(80);
}