@use 'global'as *;

.campaign-section {
    margin-top: rem(48);

    @include mq("md") {
        margin-top: rem(146);
    }
}

.campaign-section__tab {
    position: relative;
}

.campaign-section__tab {
    display: grid;
    column-gap: rem(21);
    grid-template-columns: repeat(2, 2fr);
    place-items: center;
    row-gap: rem(16.5);

    @include mq("md") {
        display: block;
    }
}

.campaign-section__content {
    margin-top: rem(40);
    padding: 0 rem(32.5);

    @include mq("md") {
        padding: 0;
    }
}

.campaign-section__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(39);

    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(80);
        column-gap: rem(40);
    }
}

.campaign-card__contact-button {
    margin-bottom: rem(40);

    @include mq("md") {
        margin-bottom: rem(44);
    }
}

.campaign-section__item.campaign-card {
    height: auto;
}