@use 'global'as *;

.contact-thanks-section__contents p {
    color: $green;
    text-align: center;
    line-height:  1.41;
    margin-top: rem(37);
}

.contact-thanks-section__text:nth-child(2){
    margin-top: rem(37.5);
}