@use 'global'as *;

.price-section__inner.inner{
    max-width: rem(700);
    }

.price-section__items {
    @include mq("md") {
        margin: 0 auto;
    }
}

.price-section__item {
    @include mq("md") {
        margin: 0 auto;
        width: 100%;
	}
}

.price-section__item:not(:first-child) {
    margin-top: rem(37);

    @include mq("md") {
        margin-top: rem(82);
    }
}