@use 'global'as *;

.privacy-section__inner.inner {
    max-width: rem(850);
}

.privacy-section__contents {
    @include mq("md") {
        width: 100%;
        margin: 0 auto;
    }
}

.privacy-section__title {
    color: $green;
    font-size: rem(24);
    font-weight: $medium;

    @include mq("md") {
        font-size: rem(32);
    }
}

.privacy-section__text-group:not(:first-child) {
    margin-top: rem(32);
}

.privacy-section__items {
    margin-top: rem(38);
}

.privacy-section__text {
    color: $green;
    line-height: 2;
    text-align: justify;
}

.privacy-section__text.privacy-section__text--indent {
    padding-left: 1.5em;
    text-indent: -1.3em;
}