@use 'global'as *;

.tab__tab-button {
    font-size: rem(14);
    display: inline-block;
    width: rem(162);
    padding: rem(5.2) 0;
    transition: 0.3s background-color, 0.3s color;
    color: $green2;
    border: rem(1) solid $green2;
    background-color: $white;
    text-align: center;
    cursor: pointer;
}

.tab__tab-button:hover {
    background-color: $green2;
    color: $white;
}

.tab__tab-button:not(:first-child) {
    @include mq("md") {
        margin-left: rem(28);
    }
}

.tab__tab-button.is-active {
    text-transform: uppercase;
    color: $white;
    background-color: $green2;
}