@use 'global'as *;

.voice-section__tab {
    position: relative;
}

.voice-section__tab {
    display: grid;
    column-gap: rem(21);
    grid-template-columns: repeat(2, 2fr);
    place-items: center;
    row-gap: rem(16.5);

    @include mq("md") {
        display: block;
    }
}

.voice-section__items {
    margin-top: rem(40);
    display: grid;

    @include mq("md") {
        padding: 0;
        row-gap: rem(78);
    }
}

.voice-card__contact-button {
    margin-bottom: rem(40);
}